In [1]:
#Standard data manipulations
import pandas as pd
import numpy as np

from datetime import date
import sqlite3
import pickle

#Import custom functions
from PythonFunctions.apicallers import *
from PythonFunctions.sqlfunctions import *
from PythonFunctions.matchscrapers import *

#Suppress warnings from showing
import warnings
warnings.filterwarnings('ignore')

#Connect to the SQL database
conn = sqlite3.connect('Data/20_21fpl.db')
#Instantiate a cursor
c = conn.cursor()

In [2]:
try:
    sql('''DROP TABLE matches_basic''', c)
    
except:
    pass

In [3]:
df_matches = df_matches_constructor()

In [4]:
create_sql_table(df_matches, c, 'matches_basic')

populate_sql_from_dataframe(df_matches, 'matches_basic', c)

conn.commit()

CREATE TABLE matches_basic (matches_basicID INTEGER PRIMARY KEY, TableIndex TEXT, MatchID INTEGER, GameWeek INTEGER, Date TEXT, Team TEXT, Opposition TEXT, Home TEXT, unique (MatchID, GameWeek, Date, Team, Opposition, Home));

New table added

In [5]:
df_matches.GameWeek.unique()

array([18,  1, 19,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 24, 17, 29, 25, 35, 20, 21, 22, 23, 26, 27, 28, 32, 30, 31, 33,
       34, 36, 37, 38])

In [6]:
# try:
#     sql('''DROP TABLE players_basic''', c)
    
# except:
#     pass

# df_players = player_basic_df_generator()

# create_sql_table(df_players, c, 'players_basic')

# populate_sql_from_dataframe(df_players, 'players_basic', c)

# conn.commit()